body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
.content {
    flex: 1 !important;
    padding: 20px;
}
